

### PyCharm ###
# Covers JetBrains IDEs: PyCharm and Webstorm
.idea/
.idea/*

# My Config folder
config/*
!config/config_sample.yml

# My logging folder
logging/
logging/*

.c9/
.c9/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
__pycache__/
media

# Flask stuff:
instance/
.webassets-cache

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/